@using Microsoft.AspNetCore.Razor.TagHelpers
@using Reddit.net.Models
@{
    ViewData["Title"] = "Reddit.NET - Create Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var subnets = (IEnumerable<SubnetModel>)ViewData["subnets"];
}

@model Reddit.net.Models.PostModel

<h2>Create a new post</h2>

<hr />

@using (Html.BeginForm("CreatePost", "Post"))
{
    <input type="hidden" name="UserName" value="@User.Identity.Name" />

    @Html.LabelFor(model => model.Title)
    <div class="move-down">
        @Html.TextBoxFor(model => model.Title, new {required = "required"})
    </div>

    @Html.LabelFor(model => model.Subnet)
    <div class="move-down">
        <fieldset>
            <select if="Subnet" name="Subnet">
                @foreach (var subnet in subnets)
                {
                    <option value="@subnet.Name">@subnet.Name</option>
                }
            </select>
        </fieldset>
    </div>

    @Html.LabelFor(model => model.Content)
    <div class="move-down">
        @Html.TextAreaFor(model => model.Content, new { required = "required" })
    </div>

    <input class="btn btn-default" type="submit" value="Create Post" />
}